@import '../../../scss/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin: 0;
  padding: 0 15px;

  border: none;
  border-radius: 5px;

  height: 50px;

  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;

  color: map-get($COLORS, 'white');
  background-color: map-get($COLORS, 'primary');

  transition-duration: .2s;
  transition-property: background-color;

  &:hover {
    background-color: darken(map-get($COLORS, 'primary'), 5%);
  }

  &:active {
    background-color: darken(map-get($COLORS, 'primary'), 10%);
  }
}