.filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;

  padding: 10px 0;

  cursor: pointer;

  background-color: transparent;

  &:hover {
    &::before {
      background-color: #F1FCFF;
    }
  }

  > * {
    position: relative;

    z-index: 2;
  }

  &::before {
    content: '';

    position: absolute;

    z-index: 1;

    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;

    height: 100%;
    width: calc(100% + (2 * 20px));

    background-color: transparent;

    transition-duration: .2s;
    transition-property: background-color;
  }

  &__name {
    margin-left: 10px;

    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
}