@import '../../../scss/variables.scss';

.ticket {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;

    .ticket__price {
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      text-transform: uppercase;

      color: map-get($COLORS, 'primary');
    }

    .ticket__company {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    .ticket__flight {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .block {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__key {
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: .5px;
          text-transform: uppercase;

          color: #A0B0B9;
        }

        &__value {
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
        }
      }
    }
  }
}